
<!--<input [(ngModel)]="courseTitle"/>-->
<!--<button (click)="addCourse(courseTitle)">-->
<!--  Create Course-->
<!--</button>-->
<div class="list-group">
  <h2>Course</h2>
<div >

  <div class="list-group-item list-group-item-action" *ngFor="let course of courses">
<!--    <button (click)="deleteCourse(course)">-->
<!--      Delete-->
<!--    </button>-->

    <div class="list-group-item-name">
    <a href="/course-viewer/courses/{{course._id}}/modules">
      {{course.title}}
    </a>
    </div>

  </div>
</div>
</div>
