

.wbdv-lesson-pill {
  margin-left: 2%;
}
.active a {
  background-color: cornflowerblue;
}

a:not(.active) {
  background-color: rgba(0, 0, 250, 0.2);
}


/*.nav-tabs .nav-link:active {*/
/*  background-color: blue;*/
/*}*/


