<h2>
  {{question.question}}
  <i class="fas" [ngClass]="{
        'fa-check':  grading  && answer === question.correct , 'fa-times':  grading && answer !== question.correct }">
  </i>
</h2>

<!-- process true answers -->
<div class="list-group">

    <div class="list-group-item"
        [ngClass]="{'list-group-item-success':
            (  grading &&  answer === 'true' && answer === question.correct  ) ||
            (  grading &&  answer === 'false' &&  answer !== question.correct),

         'list-group-item-danger':
           grading && answer === 'true' && answer !== question.correct
      }">


      <!--disable selection if already graded -->
      <input type="radio" value="true" [(ngModel)]="answer" name="{{question._id}}" [disabled]="grading" />
      True
      <i class="fas" [ngClass]="{
          'fa-check':
              ( grading && answer === 'true' && answer === question.correct )
              || ( grading && answer === 'false' && answer !== question.correct ),
          'fa-times':
               grading && answer === 'true' && answer !== question.correct
        }"></i>
    </div>

</div>

<!-- process false answers -->
<div class="list-group">

    <div class="list-group-item" [ngClass]="{
        'list-group-item-success':
            ( grading && answer === 'true' && answer !== question.correct )   ||
            ( grading && answer === 'false' && answer === question.correct ),
         'list-group-item-danger':
            grading && answer === 'false' &&  answer !== question.correct
      }">
      <input type="radio" value="false" [(ngModel)]="answer" name="{{question._id}}" [disabled]="grading" />


      False

      <i class="fas" [ngClass]="{
          'fa-check':
         ( grading && answer === 'true' && answer !== question.correct )   ||
              ( grading && answer === 'false' && answer === question.correct ),
          'fa-times':
              grading && answer === 'false' && answer !== question.correct
        }"></i>
    </div>

</div>





<br />
<b class="ya">Your answer:</b>
<br />
<b class="ya">{{answer}}</b>
<br />
<br />
<button class="btn btn-success" (click)="submitAnswer()">
  Grade
</button>
